.side-bar
  .side-bar__header
    .side-bar__header__profile
      .side-bar__header__profile__left
        masa
      .side-bar__header__profile__right
        = link_to "#", class: "profile__right--icon" do
          = icon('fas','edit edit-color')
        = link_to "#", class: "profile__right--icon" do
          = icon('fas','cog')

  .side-bar__contents
    .side-bar__contents__groups
      .side-bar__contents__groups__title
        Techcamp
      .side-bar__contents__groups__message
        まだメッセージがありません

    .side-bar__contents__groups
      .side-bar__contents__groups__title
        Techcamp
      .side-bar__contents__groups__message
        まだメッセージがありません

